<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %> <br>

<h2> <%= @organization.name %> </h2> 

<%= link_to "Leave", '/home/leave', method: "get" %> <br>