<h1>Adnat</h1>

Logged in as <%= @user.name %>

<%= link_to "Log Out", logout_path, method: "delete" %> 

You aren't a member of any organisations.
Join an existing one or create a new one.

<h2>Organisations</h2>

<h2>Create organisation</h2>
